::-webkit-scrollbar { 
    display: none; 
}
header {
  font-family: 'Press Start 2P', cursive;
}
.removePM {
	padding-right: 0;
	padding-left: 0;
	margin-left: 0;
	margin-right:0 ;
}

#cont1{
  padding-right: 0px;
  padding-left: 0px;
  height: 100vh;
  background-image: linear-gradient(to right,#304352, #d7d2cc);
  width: 100%;
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
#cont2 {
  width: 100%;
  height: 100%;
  /*background: linear-gradient(90deg,#949494 10%,#efefef 90%);*/
  padding-top: 2%;
  padding-bottom: 2%;
  transition-duration: 2s;
  transition:ease-in-out;
}
#cont3 {
  height: 100%;
  background-image: linear-gradient(to right, #8e9eab, #eef2f3);
  margin-bottom: 5%;
  background-color: black;
  box-shadow: 16px 0 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
#cont4 {
  height: 100%;
  color: black;
  font-family: 'Orbitron', sans-serif ;
}
#cont4 > .row > div.col-md-12 > div {
  margin-top: 2%;
}
#cont5 {
  font-family: 'Russo One', sans-serif;
  color: white;
  height: 100%;
  background: linear-gradient(to left, #bdc3c7, #2c3e50);
  text-align: center;
  margin-top: 3%;
  box-shadow: 16px 0 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
#cont5 > div > div > div {
  margin-bottom: 3%;
}
img[alt=capstoneimages] {
  border-radius: 10px;
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
img[alt=skillimg] {
  height: 10em;
  margin: 9px;
  background-color: white;
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 10px 25px 0 rgba(0, 0, 0, 0.21);
  border-radius: 10px;
}
.hide-me {
  background: transparent;
  border: none;
  box-shadow: none;
  z-index: -1;
}
.box {
  margin: 20px;
  border: 2px black solid;
  height: 50px;
  width: 50px;
}
.navbar{
  border: none;
  border-radius: 0;
  width: 100%;
  -webkit-transition: all 1.3s ease;
  transition: all 1.3s ease;
  color: black;
  background: transparent;
  box-shadow: none;
}
header.navbar.shrink {
  z-index: 1000;
  background-color: #262626 !important;
  padding-top: 15px; 
  min-height: 65px !important;
  border: none;
  background: unset; 
}
h1 > a:hover {
	text-decoration: none;
}
.fixrow {
  margin-left: 0;
  margin-right: 0;
}
.ava {
  background: none;
  background-color: transparent;
}
img[alt='ava'] {
  height: 250px;
  width: 250px;
  border: 5px solid white;
}
#desH1 {
	color: transparent;
  font-family: 'Russo One', sans-serif;
  padding-top: 10px;
}
#desH1.fadeInUp {
  color: black;
  font-size: 54px;
}
#desH2 {
  color: transparent;
}
#desH2.fadeInRight {
  color: black;
	font-family: 'Russo One', sans-serif;
	padding: 0 60px 0 60px;
}
#desH3 {
  color: transparent;
}
#desH3.fadeInLeft {
  font-family: 'Russo One', sans-serif;
  color: black;
  padding: 0 60px 0 60px;
}
#desH4 {
  font-family: 'Russo One', sans-serif;
  font-weight: 50;
}
.fa {
  padding: 10px;
  font-size: 10px;
  width: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px;

}
.fa:hover,
.fa:focus {
  opacity: 0.7;
  text-decoration: none;
	color:white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 10px 12px 10px 12px;
}
.fa-google-plus {
  background: #dd4b39;
  color: white;
}
.fa-skype {
  background: #00aff0;
  color: white;
}
#socialicons {
	display: none;
}

#socialicons.fadeInRight {
	display: block;
}
.center-block, {
    float: none;
}
.hoverme:hover {
  opacity: 0.7;
}

#para1,
#para2,
#para3 {
	display: none;
	text-align: justify;
}
#para1.fadeInUp,
#para2.fadeInUp,
#para3.fadeInUp {
	display: block;
}


.magic {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}
h1.typewriter {
  text-align: center;
  color: white !important;
  
}
span.wrap {
  color: white;
  font-family: 'Orbitron', sans-serif !important;
  font-size: 2em;
}

footer {
  padding-top: 2%;
  padding-bottom: 1%;
	width: 100%;
  background-color: #262626 !important;
	height: 100%;
}
hr {
	background-color: white;
}

.timeline {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
} 

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background:#FFF;
  left: 20%;
  margin-left: -10px;
}

.timeline > li .tltime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}

.timeline > li .tltime span {
  display: block;
  text-align: right;
}

.timeline > li .tltime span:first-child {
  font-size:1em;
  font-family: 'Righteous', cursive;
  color: #FFF;
}

.timeline > li .tllabel {
  border: 3px solid #FFF;
  margin: 0 0 15px 25%;
  color: #333;
  padding: 2em;
  font-family: 'Audiowide', cursive;
  border-radius: 20px;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  background: linear-gradient(to right,  rgba(255,255,255,1) 86%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  box-shadow: 13px 0px 19px 0px rgba(0,0,0,0.17);
}

.timeline > li:nth-child(odd) .tllabel {
  background: white;
}

.timeline > li .tllabel h2 { 
  margin-top: 0px;
  padding: 0 0 10px 0;
  font-size: 1.5em;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}
.timeline > li .tllabel p {
  font-size: 0.8em;
  font-family: 'Righteous', cursive;
}

.timeline > li:nth-child(odd) .tllabel:after {
  border-right-color: #6cbfee;
}

.timeline > li .tlicon {
  width: 40px;
  height: 40px;
  font-family: 'ecoico';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position:relative;
  color: #fff;
  background: #46a4da;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #FFF;
  text-align: center;
  left: 20%;
  top: 0;
  margin: 0 0 0 -25px;
}
.timeline {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
} 

/* The line */
.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background:#FFF;
  left: 20%;
  margin-left: -10px;
}

/* The date/time */
.timeline > li .tltime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}

.timeline > li .tltime span {
  display: block;
  text-align: right;
}

.timeline > li .tllabel {
  border: 3px solid #FFF;
  margin: 0 0 15px 25%;
  color: #333;
  padding: 2em;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  background: linear-gradient(to right,  rgba(255,255,255,1) 86%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  box-shadow: 13px 0px 19px 0px rgba(0,0,0,0.17);
}


.timeline > li .tllabel h2 { 
  margin-top: 0px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

.timeline > li .tlicon {
  width: 40px;
  height: 40px;
  font-family: 'ecoico';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position:relative;
  color: #fff;
  background: #46a4da;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #FFF;
  text-align: center;
  left: 20%;
  top: 0;
  margin: 0 0 0 -25px;
}
